@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        <label>Email</label>
        @Html.TextBox("email")
    </div>
    <div>
        <label>Password</label>
        @Html.Password("password")
    </div>
    <button type="submit">Login</button>
}
